# python virtual environment
.fomo_venv/

# exported models
models/
*.onnx

# MlFlow stuff
mlruns/
mlartifacts/
# directory with random number created automaticly by MlFlow
399010269064744334/ 
432993251029227221/