# python virtual environment
.fomo_venv/

# exported models
*.onnx

# MlFlow stuff
mlruns/
mlartifacts/
# directory with random number created automaticly by MlFlow, but gitignore uses glob instead of regex :(
[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]/